* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px grey;
    max-width: 500px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: purple;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

#result {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    display: none;
}

#result.success {
    color: green;
}

#result.error {
    color: red;
}
